.venv
.DS_Store
__pycache__
.vscode
.env
src/bespokelabs/curator/viewer/*
dcgm*
*.png
examples/custom/fineweb-2*
examples/custom/*.err
examples/custom/*.out
examples/custom/.python-version
examples/custom/annotated_dataset/*
examples/custom/*_classifier/
examples/custom/annotated_dataset-100k
examples/custom/arbert_classifier-100k
